.logo {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 10px;

  &__image {
    height: 60%;
  }

  &__text {
    font-weight: bold;
    margin-left: 5px;
    color: var(--main-color-app);
    font-size: 18px;
  }
}